<div class="content" role="main">

  <!-- PokeBox -->
  <div class="card highlight-card card-small" style="min-width: 20%;">
      <img width="75" src="assets/img/Pokeball.png">
      <span style="margin-left: 10px; font-family: cursive;">Get ready for the fight!</span>
  </div>

  <div style="text-align: center; position: relative; margin-top: -35px; margin-bottom: -60px;">
    <div style="position: absolute; left: 0; right: 0; z-index: -2; margin: auto; top: 24%;">
      <app-pokemon [pokemon]="pokemon1"></app-pokemon>
      <app-pokemon [pokemon]="pokemon2"></app-pokemon>
      <img src="assets/img/battle-ground.png" style="width: 31%;">
    </div>
  </div>

  <div style="text-align: center; position: relative; margin-top: 500px; margin-bottom: -60px;">
    <button id="fight" (click)="fight()">
        Start fight
    </button>
    <button id="pause" [disabled]="!onPause" (click)="pause()">
      Pause
    </button>
    <button id="play" [disabled]="!onStart" (click)="play()">
      Play
    </button>
    <button id="reset" (click)="reset()">
      Reset fight
    </button>
    <app-message [logs]="loggerService.logs"></app-message>
  </div>
</div>