.background-battle-pokemon{
  width: 200px;
  height: 180px;
  border: 0;
}

.pokemon2{
  margin-right: -120px;
  text-align: center;
  height: 210px;
}

.pokemon1{
  padding: 120px;
  text-align: center;
  height: 0px;
}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.message{
  background-color: rgba(225,198,153, 0.6);
  height: 300px;
  margin-top: 90px;
  width: 600px;
  overflow: auto;
  border: 3px solid;
  border-radius: 5px;
}
